/* styles/PrivacyPolicy.module.css */
.privacyContainer {
  display: flex;  /* Changed from grid to flex for better control over the layout */
  flex-direction: column;  /* Stack children vertically */
  max-width: 800px;
  margin: 0 auto;  /* Center the container */
  padding: 20px;
  height: 98vh;  /* Full viewport height */
  align-items: stretch;  /* Stretch children to fill the width */
  text-align: left;
}


.textContainer {
  max-width: 100%;
  overflow-y: auto; /* Enable vertical scrolling for the text container */
  height: 80vh; /* Set a fixed height for the text container */
}

.imageContainer {
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
}

.header {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.subHeader {
  font-size: 24px;
  color: #666;
  margin-bottom: 15px;
}

.sectionHeader {
  font-size: 20px;
  color: #333;
  margin-bottom: 15px;
}

.paragraph {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  max-width: 600px;
  margin-bottom: 10px;
}




.textContainer {
  overflow-y: auto;  /* Enable vertical scrolling */
  flex-grow: 1;  /* Allow the container to expand to fill available space */
}