/* styles/PrivacyPolicy.module.css */

.privacyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.imageContainer {
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
}

.privacyPolicyTextContainer {
  width: 100%;
  max-width: 800px;
  max-height: calc(100vh - 140px); /* Adjust based on your layout */
  overflow-y: auto;
  padding: 0 10px;
  box-sizing: border-box;
}

.textContainer {
  padding: 20px;
}

.header, .subHeader, .sectionHeader {
  text-align: center;
  margin-bottom: 20px;
}

.header {
  font-size: 28px;
  color: #333;
}

.subHeader {
  font-size: 22px;
  color: #666;
}

.sectionHeader {
  font-size: 20px;
  color: #333;
}

.paragraph {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: left;
}


/* Ensure text doesn't overflow on very narrow screens */
@media (max-width: 320px) {
  .privacyPolicyTextContainer {
    padding: 0 5px;
  }
}