/* styles/PrivacyPolicy.module.css */

.privacyContainer {
  display: flex;         /* Enables flexbox */
  flex-direction: column;/* Stacks children vertically */
  justify-content: center;/* Vertically centers the children */
  align-items: center;   /* Horizontally centers the children */
  min-height: 100vh;     /* Minimum height to take the full viewport height */
  width: 100%;           /* Full width of the viewport */
}

.textContainer {
  width: 100%;             /* Take up to 100% of its parent width */
  max-width: 100%;        /* Maximum width, keeps it from growing too large */
  max-height: 80vh;        /* Maximum height to enable scrolling */
  overflow-y: auto;        /* Enables scrolling when content exceeds max-height */
  padding-left: 700px;
  box-sizing: border-box;  /* Padding is included in the width/height calculations */
}

.imageContainer {
  margin-bottom: 20px;
}

.image {
  border-radius: 50%;
}

.header, .subHeader, .sectionHeader, .paragraph {
  margin-bottom: 20px;  /* Consistent margin-bottom for simplicity */
}

.header {
  font-size: 32px;
  color: #333;
}

.subHeader {
  font-size: 24px;
  color: #666;
}

.sectionHeader {
  font-size: 20px;
  color: #333;
}

.paragraph {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
  max-width: 600px;
}
